ssh_key_file = {
  public = "ssh-ed25519 .... user@hosts"
  private = <<-EOF
    -----BEGIN OPENSSH PRIVATE KEY-----
   ....
    -----END OPENSSH PRIVATE KEY-----
  EOF
}
hcloud_token = ""
hdns_token = ""
dns_zone_name = ""
